/x_times.sh
/seg.sh
/file_script.sh
/hash.c
/benchmarks
/*.csv
*.o
/tests/USAEAST.txt
/tests/USAWEST.txt
/tests/USACENTRAL.txt
/matti.sh
/einar.sh
/tests/0-n=10000-m=9999000-d=0.1.txt
/tests/0-n=10000-m=49995000-d=0.5.txt
/tests/0-n=10000-m=89991000-d=0.9.txt
